 *{
    margin: 0;
    padding: 0;
 }
  
 body{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    color: black;
    display: flex;
    flex-direction: column;
 }

 .cabecalho{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .lista{
    display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
       width: 50vw;
    justify-content: space-between;
 }

 .lista-item{
    flex: row;
 }

 .container-slide{
    display: flex ;
    justify-content: space-between;
    width: 50vw;
    height: 75vh;
    background-color: black;
    margin: 0 auto;
    border-radius: 30px ;
    box-shadow: 0 30px 40px black ;
    
   
   
 }

 .container-itens{ 
     position: absolute;
    display: flex;
    width: 50vw;
    height: 75vh;
    border-radius: 20px;
    overflow: hidden;
   
  
 }

 .item{
    width: 50vw;
    height: 50vh;
    transition: all 1s;
 }
 
 .item:first-child{
    margin-left: -100%;
    transition: all 1s;
 }

 .item img{
     width: 50vw;
     height: 75vh; 
     border-radius: 20px;
    
    transition: all 1s;
 }

 .action-button{
    font:bold 50px sans-serif;
    display: flex;
    width:50px;
    height: 75vh;
    z-index: 1;
    color: #00000000;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

 }

 .action-button:hover {
     
     color: white;
     background-color: #ffffff90;
     border-radius: 10px;
     cursor: pointer;
     transition: all 1s;
 }