 *{
    margin: 00;
    padding: 0;
    list-style: none;
 }
  
 body{
    width: 100%;
    height: 100%;
    background-color: #ff7d00;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .cabecalho{
    width: 100%;
    height:120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #001524;
 }

 .logo{
    height: 120px;
    margin-left: 50px;
 }
 .lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
 }

 .lista-item{
    flex: row;
    font-size: 3rem;
    font-family: sans-serif;
    border: 1px solid;
    border-radius: 10px;
    padding: 0.7rem 2rem;
    text-decoration: none;
    color: #ffecd1;
    background-color: #001524;
 }

 .container-slide{
    display: flex ;
    justify-content: space-between;
    width: 50%;
    height: 85%;
    background-color: black;
    margin: 50px;
    border-radius: 30px ;
    box-shadow: 0 30px 40px black ;
    align-items: center;
    justify-items: center;
    position:relative;
   justify-content: space-between;
  

 }

 .container-itens{ 
    
    position: absolute;
    display: flex;
    width: 100%;
    height:100%;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
  
  
  
 }

 .item{
    width:100%;
    height: 100%;
    transition: all 1s;
 }
 
 /* .item:first-child{
    margin-left: -150%;
    transition: all 1s;
 } */

 .item img{
     width: 850px;
     height:600px; 
     border-radius: 20px; 
    transition: all 1s;
 }

 .action-button{
    font:bold 50px sans-serif;
    display: flex;
    width:50px;
    height: 57vh;
    z-index: 1;
    color: #00000000;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    border-radius: 20px;
    transition: s;

 }

 .action-button:hover {
     
     color: white;
     background-color: #15616d08;
     border-radius: 20px;
     cursor: pointer;
     transition: all 1s;
      z-index: 1;
 }

 .lista-item:hover {
   
     background-color:#15616d;
 }


 h1{
    color: white;
    font-size: 5rem;
    font-family: sans-serif;
    margin-top: 20px;
 }
 /* /// */

 @media (max-width:400px) {
     .container-slide {
         width: 300px;
         height: 145px;
     }

      .logo {
           height: 80px;
           margin-left: 10px;
           margin-top: 20px;
      }

       h1 {
           color: white;
           font-size: 3rem;
           font-family: sans-serif;
           margin-top: 45px;
       }

     .item img {

         width: 300px;
         height: 145px;
         border-radius: 20px;
         transition: all 1s;
     }

 }

 @media (max-width: 500px)  {
    body{
        background-color: #ff7d00;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .container-slide{
        width: 400px;
        height: 345px;
        justify-content: center;
        align-items: center;
        display: flex;

        justify-content: center;
        align-items: center;
        display: flex;
    }
    .container-itens{
        width: 100%;
        height: 100%;
           
    }

    .item img{
      
            width: 400px;
            height: 345px;
            border-radius: 20px;
            transition: all 1s;
   
    }
} 

@media (min-width:501px) and (max-width:800px){
         .container-slide {
             width: 490px;
             height: 445px;
         }

      

         .item img {

             width: 490px;
             height: 445px;
             border-radius: 20px;
             transition: all 1s;
}

}

@media (min-width:751px) {
    .container-slide {
        width: 690px;
        height: 545px;
    }



    .item img {

        width: 690px;
        height: 545px;
        border-radius: 20px;
        transition: all 1s;
    }

}

